/* ==UserStyle==
@name         Avatar type toggle location Revert (Experimental)
==/UserStyle== */

/*/ Cringe code ahead /*/

.tab-content>.tab-pane:not(.active).scaling-tab {
	display: block;
	position: absolute;
    top: 84px;
    margin-left: -101px;
}
.pinned .tab-content>.tab-pane:not(.active).scaling-tab {
	position: fixed;
	top: 60px
}
.tab-content>.active.scaling-tab .pill-toggle {
	position: absolute;
    left: -168px;
    top: -72px;
}
.pinned .tab-content>.active.scaling-tab .pill-toggle {
	position: fixed;
	top: 60px;
	left: unset;
	margin-left: -116px;
}
.tab-content>.tab-pane:not(.active).scaling-tab .section-content {
	background: transparent;
	padding: 0;
}
.tab-content>.tab-pane:not(.active).scaling-tab .section-content .avatar-type-container div:not(.pill-toggle), .tab-content>.tab-pane:not(.active).scaling-tab .section-sliders, .avatar-type-container .text-label, .avatar-type-container .avatar-type-message-banner {
	display: none;
}

.tab-content>.tab-pane:not(.active).scaling-tab .avatar-type-toggle-scale {
	margin-left: 0
}

.ropro-changes .tab-content>:not(.active).scaling-tab .pill-toggle {
    position: relative;
}
.ropro-changes .tab-content>.tab-pane:not(.active).scaling-tab {
	top: 112px
}
.ropro-changes .pinned .tab-content>.tab-pane:not(.active).scaling-tab {
	top: 50px
}
.ropro-changes .tab-content>.scaling-tab, .ropro-changes .tab-content>.scaling-tab .pill-toggle {
	z-index: 2;
}

@media (max-width: 991px) {
	.pinned .tab-content>.tab-pane:not(.active).scaling-tab {
		display: block;
		position: absolute;
		top: 84px;
		margin-left: -101px;
	}
	.ropro-changes .pinned .tab-content>.active.scaling-tab .pill-toggle {
		left: unset
	}
	.pinned .tab-content>.active.scaling-tab .pill-toggle {
		position: absolute;
		left: -168px;
		top: -72px;
	}
	.ropro-changes .pinned .tab-content>.tab-pane:not(.active).scaling-tab {
		top: 112px;
	}
}
@media (max-width: 767px) {
	.tab-content>.tab-pane:not(.active).scaling-tab {
		top: 76px;
	}
	.ropro-changes .tab-content>.tab-pane:not(.active).scaling-tab {
		top: 104px;
	}
	.ropro-changes .pinned .tab-content>.tab-pane:not(.active).scaling-tab {
		top: 104px;
	}
}
@media (max-width: 543px) {
	.ropro-changes .tab-content>.active.scaling-tab .pill-toggle {
		top: -67px;
	}
}