.light-theme .rbx-header {
	background:rgb(190,0,0);
}

.light-theme #header .btr-nav-notif {
	border-color: rgb(190,0,0);
}

.light-theme .btn-secondary-lg:active, .light-theme .btn-secondary-md:active, .light-theme .btn-secondary-sm:active, .light-theme .btn-secondary-xs:active, .light-theme .active.btn-secondary-lg, .light-theme .active.btn-secondary-md, .light-theme .active.btn-secondary-sm, .light-theme .active.btn-secondary-xs, .dark-theme .btn-secondary-lg:active, .dark-theme .btn-secondary-md:active, .dark-theme .btn-secondary-sm:active, .dark-theme .btn-secondary-xs:active, .dark-theme .active.btn-secondary-lg, .dark-theme .active.btn-secondary-md, .dark-theme .active.btn-secondary-sm, .dark-theme .active.btn-secondary-xs {
	background:rgb(255,90,90);
}

.light-theme .btn-secondary-lg, .light-theme .btn-secondary-md, .light-theme .rbx-upgrade-now .btn-secondary-md, .light-theme .btn-secondary-sm, .light-theme .btn-secondary-xs, .dark-theme .btn-secondary-lg, .dark-theme .btn-secondary-md, .dark-theme .rbx-upgrade-now .btn-secondary-md, .dark-theme .btn-secondary-sm, .dark-theme .btn-secondary-xs {
	background:rgb(255,0,0);
	border-color:rgb(255,0,0);
}

.light-theme .btn-secondary-lg:hover, .light-theme .btn-secondary-md:hover, .light-theme .rbx-upgrade-now .btn-secondary-md:hover, .light-theme .btn-secondary-sm:hover, .light-theme .btn-secondary-xs:hover, .light-theme .btn-secondary-lg:focus, .light-theme .btn-secondary-md:focus, .light-theme .rbx-upgrade-now .btn-secondary-md:focus, .light-theme .btn-secondary-sm:focus, .light-theme .btn-secondary-xs:focus, .dark-theme .btn-secondary-lg:hover, .dark-theme .btn-secondary-md:hover, .dark-theme .rbx-upgrade-now .btn-secondary-md:hover, .dark-theme .btn-secondary-sm:hover, .dark-theme .btn-secondary-xs:hover, .dark-theme .btn-secondary-lg:focus, .dark-theme .btn-secondary-md:focus, .dark-theme .rbx-upgrade-now .btn-secondary-md:focus, .dark-theme .btn-secondary-sm:focus, .dark-theme .btn-secondary-xs:focus {
	background:rgb(255,90,90);
	border-color:rgb(255,90,90);
}

.light-theme .dropdown-menu li:hover, .light-theme .rbx-header .navbar-search .navbar-search-option a:hover, .dark-theme .dropdown-menu li:hover, .dark-theme .rbx-header .navbar-search .navbar-search-option a:hover {
	box-shadow:4px 0 0 0 rgb(255,0,0) inset
}

.light-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading, .light-theme .rbx-tabs-horizontal .rbx-tab-heading:hover, .light-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading:hover, .light-theme .rbx-tabs-horizontal .rbx-tab-heading:focus, .light-theme .rbx-tabs-horizontal .rbx-tab-heading:active, .dark-theme .rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading, .dark-theme .rbx-tabs-horizontal .rbx-tab-heading:hover, .dark-theme .rbx-tabs-horizontal .rbx-tab .rbx-tab-heading:hover, .dark-theme .rbx-tabs-horizontal .rbx-tab-heading:focus, .dark-theme .rbx-tabs-horizontal .rbx-tab-heading:active {
	box-shadow:0 -4px 0 0 rgb(255,0,0) inset;
}

.btn-neutral, .btn-neutral:link, .btn-neutral:active, .btn-neutral:visited, .light-theme .btn-neutral, .light-theme .btn-neutral:link, .light-theme .btn-neutral:active, .light-theme .btn-neutral:visited, .dark-theme .btn-neutral, .dark-theme .btn-neutral:link, .dark-theme .btn-neutral:active, .dark-theme .btn-neutral:visited  {
	-webkit-filter: hue-rotate(150deg);
}


/* Now links. Switch blue and red hex values */

.light-theme a:link, .light-theme a:visited, .light-theme a:active {
	color:#C34500;
}
.light-theme .text-footer {
	color:#c19f89;
}
		
.rbx-header .rbx-navbar-icon-group .age-bracket-label .age-bracket-label-username:before, .light-theme .rbx-header .rbx-navbar-icon-group .age-bracket-label .age-bracket-label-username:before {
	color: #be0000;
	background: #be0000;
}
		
.light-theme .footer .text-footer-nav, .light-theme .footer .text-footer-nav:link, .light-theme .footer .text-footer-nav:visited, .light-theme .footer .text-footer-nav:active, .light-theme .footer .row .text-footer-nav:hover {
	color:#8F522D;
}

.light-theme .copyright-container {
	border-top-color:#955C35;
}